.content {
  width: 1000px;
  padding-top: 15px;
  padding-left: 15px;
}
.video_area {
  position: relative;
  height: 550px;
}
.video_area p {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.video_area video {
  position: absolute;
  top: 0;
  left: 0;
}
.video_area canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.video_cti {
  width: 960px;
}
.in_out_slider_wrapper {
  margin-top: 30px;
}
.in_out_slider {
  margin-bottom: 5px;
  padding-top: 10px;
}
.in_out_slider hr {
  margin-top: 15px;
}
.active_slider {
  background-color: #aae7ff;
}
.slider_header {
  display: flex;
  margin-bottom: 14px;
  padding-left: 15px;
}
.slider_header p {
  margin: 0;
}
.slider_header label {
  margin-left: 10px;
}
